@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .card-label {
    @apply text-very-dark-violet uppercase tracking-[0.125em]
    leading-[0.925rem] text-xs;
  }
  .input-container-bd-gradient {
    @apply rounded-[0.56rem] bg-light-grayish-violet mt-[0.56rem] 
    p-[0.0625rem]
    min-h-[2.8rem]
    ;
  }
  .input-container-bd-gradient.wrong-input {
    @apply bg-red;
  }
  .input-container-bd-gradient:focus-within {
    @apply bg-gradient-to-b from-light-blue to-light-violet;
  }
  .input-container-bd-gradient.wrong-input:focus-within {
    @apply bg-gradient-to-b from-red to-light-violet;
  }

  .card-input {
    @apply rounded-lg 
    placeholder-very-dark-violet 
    placeholder-opacity-25
    h-full w-full py-[0.685rem] px-4

    text-lg leading-[1.44rem];
  }
  .card-input:focus {
    @apply outline-none;
  }
  .dark-button {
    @apply text-white w-full cursor-pointer h-[3.25rem] mt-10
     text-lg rounded-lg bg-[#21092f]
     hover:bg-slate-700
     active:bg-slate-800;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
