@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-label {
    @apply text-very-dark-violet uppercase tracking-[0.125em]
    leading-[0.925rem] text-xs;
  }
  .input-container-bd-gradient {
    @apply rounded-[9px] bg-transparent  mt-[9px] p-[1px];
  }
  .input-container-bd-gradient:focus-within {
    @apply bg-gradient-to-b   from-light-blue to-light-violet;
  }
  .card-input {
    @apply border rounded-lg 
    placeholder-very-dark-violet 
    placeholder-opacity-25
    h-[45px] py-[11px] px-4
    text-lg leading-[1.44rem];
  }
  .card-input:focus {
    @apply border-transparent outline-none;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
